# Build output
dist/
build/
lib/
es/
coverage/

# Node.js
node_modules/
.pnpm-store/

# Cache folders
.temp/
.rn_temp/
.cache/
.swc/
.eslintcache
.parcel-cache/
.npm/
.pnpm/
.yarn/

# Docs build output
packages/docs/dist/

# Test coverage
coverage/
.nyc_output/ 